# Python workshop - 2025

<div>
    <img src="../images/qcbs_logo_v2.svg" style="background-color: #f0f0f0; padding: 20px;"/>
</div>

<div>
    <img src="../images/python_logo_generic.svg" style="background-color: #f0f0f0; padding: 20px;"/>
</div>

**Last update**: 2025-05-19  
**Author**: El-Amine Mimouni  
**Affiliation**: Qu√©bec Centre for Biodiversity Science

**Overview**: In this notebook, we will have a general introduction to Python.

---

# Python

Python is a programming language.

## Section 0: Notebook considerations

In a notebook, only the last command is returned to the standard output.

If in a cell you want to see several outputs, you need to explicitly use the `print()` function.

In [ ]:
# Create a variable
x = 3
x

In [ ]:
# Cells are connected in a linear way
x

In [ ]:
# Only the last declared variable gets
# printed out to the standard output.
x
x * 2

In [ ]:
# If you want more than one variable to be
# returned to the standard output, you must
# explicitly use the print() function.
print(x)
print(x * 2)

In [ ]:
# I will add comments so that the results
# printed do not appear like numbers without
# meaning.
#
print("The value of x is:", x)
#
print("\nThe value of x * 2 is:", x * 2)

# Section 1: Variables and basic data types


In Python, **variables** are used to store information.

The variable is the name that you assign to your object.
It refers to a particular object in memory (more on that in a while).

The **object** is the actual data that the variable 

In conclusion, the variable does not **contain** an object but **refers** to it.

In [ ]:
# Create a variable called "my_var" and assign it
# the value 15.
my_var = 15

# Print it out to the standard output (explicitly)
print(my_var)

In Python, there are various data **types**

In [ ]:
# Integer
x1 = 5
print("The value of x1 is:", x1)

# Float
x2 = 3.14
print("\nThe value of x2 is:", x2)

# String
x3 = "Guido van Rossum"
print("\nThe value of x3 is:", x3)

# Boolean
x4 = True
print("\nThe value of x4 is:", x4)

# Basic math operators

In [ ]:
# Addition
print("An addition: 3 + 2 =",  3 + 2)

# Subtraction
print("\nA subtraction: 3 - 2 =",  3 - 2)

# Multiplication
print("\nA multiplication: 3 * 2 =",  3 * 2)

# Multiplication
print("\nA division: 3 / 2 =",  3 / 2)

# Note: in Python, the power operator is ** and not ^ (as in some languages like R)
print("\nAn exponentiation: 3 ** 2 =",  3 ** 2)

# Functions, types and class
Functions are identified by their parenthese and are applied to values.
The function `print()` was one of them.

In the `print()` function, `sep` is an **parameter** (which is a variable) and the value you pass to it is the **argument**.

In [ ]:
# The round() function will round a floating point
# value to the nearest integer
round(number=2.86)

In [ ]:
# The print() function will print something to the
# standard output
print("hello, world")

In [ ]:
# Some function can accept several values
print("a1", "b2", "c3")

In [ ]:
# Some parameters can be named, others not
# BTW parameter is the name of the variable
# and argument is the value given.
print("a1", "b2", "c3", sep=" ")

In [ ]:
# The type() function returns the type of an object
type(x1)

In [ ]:
# Functions can be nested, as can be seen below:
print("The type of x1 is:", type(x1))

print("\nThe type of x2 is:", type(x2))

print("\nThe type of x3 is:", type(x3))

print("\nThe type of x4 is:", type(x4))

In [ ]:
# Special notice regarding f-strings
y = 1/3

#
print("The value of y is", y)
print(f"The value of y is {y}")
print(f"The value of y is {y:.2f}")

# Despite its formatting, it remains a string
print("\nThe type of the f-string is:", type(f"The value of y is {y:.2f}"))

# Writing functions

In Python, as in other programming languages, you can use functions, which are blocks of reusable code.

You can evidently also write your own functions.

In Python, INDENTATION is life!

In [ ]:
# Define your own function
def add_two(num1, num2):
    # A block of code
    out = num1 + num2
    # Return statement
    return out

In [ ]:
# Errors in your function
#def add_two_v2(num1, num2):
# A block of code
#out = num1 + num2
# Return statement
#return out

In [ ]:
# Try it out
print("Result of add_two(1, 5):", add_two(1, 5))
print("\nResult of add_two(18.5, 1.2):", add_two(18.5, 1.2))

In [ ]:
# You can use them with named parameters or not
print("Result of add_two(1, 5):", add_two(1, 5))
print("\nResult of add_two(num1=1, num2=5):", add_two(num1=1, num2=5))

In [ ]:
# But beware that a unnamed parameter must follow a named parameter
print("Result of add_two(1, num2=5):", add_two(1, num2=5))

In [ ]:
# But beware that a unnamed parameter must follow a named parameter
#print("Result of add_two(num1=1, 5):", add_two(num1=1, 5))

# Control flow logic

This determines how the logic of your code behaves

In [ ]:
# Comparison operators Return a bool value
print("Result of 5.8 < 6.2:", 5.8 < 6.2)
print("\nResult of 5.8 <= 6.2:", 5.8 <= 6.2)
print("\nResult of 5.8 == 6.2:", 5.8 == 6.2)
print("\nResult of 5.8 >= 6.2:", 5.8 >= 6.2)
print("\nResult of 5.8 > 6.2:", 5.8 > 6.2)
print("\nResult of 5.8 != 6.2:", 5.8 != 6.2)

In [ ]:
# For loops and indentation.
# Note the colon at the end and the loop
for num in range(0, 5):
    print(2 * num)

In [ ]:
# Example from Criterion C (Small population size and decline):
# The number of mature individuals is fewer than 2,500, and (more things)

population = 867

if population <= 2500:
    print("This species is endangered!")
else:
    print("It's okay.")

In [ ]:
# Possibility of considering ternary operator
# Makes it look less programmatic and closer to human language

population = 867
print("This species is endangered!" if population <= 2500 else "It's okay.")

# Classes and instantiation

Objects can be created through class instantiation.

Classes are the blueprint for types (we will create one later).

it uses the constructor method (i.e. `__init__`)

In [ ]:
# Integer
x5 = int(5)
print("The type of x5 is:", type(x5))

# Float
x6 = float(18.57)
print("\nThe type of x6 is:", type(x6))

# String
x7 = str("I am a bird")
print("\nThe type of x7 is:", type(x7))

# Boolean
x8 = bool(False)
print("\nThe type of x8 is:", type(x8))

In [ ]:
# The classes themselves belong to the class "type", which is a class and the metaclass
print("int is of type:", type(int))
print("\nfloat is of type:", type(float))
print("\nstr is of type:", type(str))
print("\nbool is of type:", type(bool))

In [ ]:
# Ask questions about the classes
print("Is x5 an instance of int?", isinstance(x5, int))
print("Is x5 an instance of str?", isinstance(x5, str))
print("Is x5 an instance of bool?", isinstance(x5, bool))
#
print("\nIs x6 an instance of float?", isinstance(x6, float))
print("Is x7 an instance of str?", isinstance(x7, str))
print("Is x8 an instance of bool?", isinstance(x8, bool))

# Attributes and methods

In python, OBJECT hold both data and functions. That is to say that they hold both data and ways to operate on it.

Class attributes can be instance attributes or class attributes (not seen here but straightforward)

Methods are accessed through `.` notation.

**NEVER** use `.` in variable names!

In comparison, **method** is a function that is only accessible to objects of a certain type.

In [ ]:
print("The value of x7:")
print(x7)
#
print("\nFirst use of the function upper() - not Pythonic:")
print(str.upper(x7))
#
print("\nSecond use of the function upper() as a method - Pythonic:")
print(x7.upper())

In [ ]:
# .upper() is a method only accessible to objects of type "str"
# bool, int or float can't use it
#print(True.upper())

In [ ]:
# See the difference visually
print(sum)
print(add_two)
#
print("\n")
#
print(str.upper)
print(str.capitalize)

In [ ]:
# Note that methods can be chained
# Uppercase then replace
# Similar to a pipe operator
print("Value of x7:")
print(x7)

print("\nResult of x7.upper():")
print(x7.upper())

#
print('\nResult of x7.upper().replace("BIRD", "FISH"):')
print(x7.upper().replace("BIRD", "FISH"))

# Another

You may not have noticed it, but in VARIOUS programming languages, operators are functions.

But they can be different 

Dunder methods come in the form of `__something__`.

In [ ]:
print("Value of x6:", x6)
print("Result of x6 * 4:", x6 * 4)
#
print("\n")
#
print("Value of x7:", x7)
print("Result of x7 * 4:", x7 * 4)

In [ ]:
# The method .__rmul__ relates to how the objects relate to the * operator
print("For x6:", x6.__rmul__)
print("For x7:", x7.__rmul__)

In [ ]:
# Example of creating your own class
# Note the uppercase
class Vector:

    # Use CONSTRUCTOR function to create an instance
    def __init__(self, v1, v2):
        self.v1 = v1
        self.v2 = v2

    # Define how it is represented
    # We can use an f-string (which we just saw)
    def __repr__(self):
        return f"Vector({self.v1}, {self.v2})"

    # Define a method to return the norm of a vector
    def norm(self):
        return (self.v1 ** 2.0  + self.v2 ** 2.0) ** 0.5

    # Define a method to return the normalized vector
    # Here, the vector doesn't just give you a value, but a new instance
    # of a Vector() object
    def normalize(self):
        v_norm = self.norm()
        return Vector(self.v1 / v_norm, self.v2 / v_norm)

    # Define a method to return the addition of two vectors
    def addition(self, other):
            return Vector(self.v1 + other.v1, self.v2 + other.v2)

    # Define a method to return the addition of two vectors
    # But this time, define how it interacts with the + operator
    def __add__(self, other):
            return Vector(self.v1 + other.v1, self.v2 + other.v2)

In [ ]:
# Create an instance of the Vector class.
my_vec = Vector(v1=3, v2=4)

# Look at it!
print(my_vec)

In [ ]:
# We can access attributes of the Vectors
print(my_vec.v1)

In [ ]:
# We can have them access methods
print(my_vec.norm())

In [ ]:
# We can have them access methods
print(my_vec.normalize())

# Verify that after normalization, the norm of
# a vector is 1.
print(my_vec.normalize().norm())

In [ ]:
# Create two instance of your vector class
vector1 = Vector(v1=3, v2=4)
vector2 = Vector(v1=1, v2=2)

# Compare results of addition and __add__
print("\nResult of vector1.addition(vector2):", vector1.addition(vector2))
print("Result of vector1 + vector2:", vector1 + vector2)

# Lists and Dictionaries

## Lists
Lists store **ordered** collections. They are ordered because they can be indexed.

In [ ]:
# List of numbers
ex_list = [10, 20, 30, 40, 50]
print(ex_list)

Python indexing is 0-based, so the first element is numbered 0 and not 1.

In [ ]:
# Access elements
print("Value at index 0:", ex_list[0])
print("Value at index 1:", ex_list[1])
print("Value at index 2:", ex_list[2])

Python also allows negative based indexing, which is based on 1-indexing.

In [ ]:
# Access elements
print(ex_list[-1])
print(ex_list[-2])
print(ex_list[-3])

You can also use slicing to select particular ranges of values.
In this case, considered elements range from the first up to BUT NOT CONSIDERING the last value.

In [ ]:
print("The example list:")
print(ex_list)

print("\nThe first two values:")
print(ex_list[0:2])

print("\nValues three to five:")
print(ex_list[2:5])

In [ ]:
# Be careful when considering negative based slicing!
print(ex_list[-2:-1])
print(ex_list[-2:])

In [ ]:
# Actually the most general form of indexing is:
print(ex_list[:])

# It selects all elements of the list

In [ ]:
# List arithmetic
# Funny unexpected behavior for newcomers

# Adding 1 to the list will throw an error
#ex_list + 1

In [ ]:
# List arithmetic
# Funny unexpected behavior for newcomers

# Adding [1] to the list will CONCATENATE it to the list
ex_list + [1]

In [ ]:
# List arithmetic
# Funny unexpected behavior for newcomers

# Multiplying the list by 2 will NOT give you a new list with values doubled.
ex_list * 2

In [ ]:
# You should use list comprehension
[2 * x for x in ex_list]

In [ ]:
# List comprehension is more than just changing the list
# It can involve filtering it on particular values
#
# for, in, if and and are reserved keywords that add flexibility
# to your statements
#
[x for x in ex_list if x > 20]

In [ ]:
# List comprehension is more than just changing the list
# It can involve filtering it on particular values
#
# for, in, if and and are reserved keywords that add flexibility
# to your statements
#
[x for x in ex_list if x > 20 and x != 40]

# Tuples

In [ ]:
# TUPLES
ex_tuple = (50, 40, 30, 20, 10)

In [ ]:
# Tuples values are accessed in the same way as lists
ex_tuple[0:3]

In [ ]:
# A tuple is similar to a list but one difference is that
# it is immutable
# Values cannot be changed once set.
#ex_tuple[0] = 20

In [ ]:
# Be careful when considering a 1-tuple.
print((10.5))
print(type((10.5)))
#
print("\n")
print((10.5,))
print(type((10.5,)))

# Dictionaries

Dictionaries store **key-value** pairs.

In [ ]:
# Dictionary of a person
obs_1 = {
    "species": "Ramphastos toco",
    "abundance": 5,
    "time": "2025-05-16T14:28:00+00:00"
        }

print(obs_1)
print("\n")

# Access by key
print(obs_1["species"])
print(obs_1["abundance"])
print(obs_1["time"])

In [ ]:
# It can get nested
obs_2 = {
    "species": "Amphiprion ocellaris",
    "abundance": 3,
    "coordinates": [-18.29, 147.70]
    }

print(obs_2)
print("\n")

# Access by key
print(obs_2["species"])
print(obs_2["abundance"])
print(obs_2["coordinates"])

# Opening files

In [ ]:
# Open file for reading
f = open(file="../data/cities.txt", mode="r")

# Read the entire content of the file
content = f.readlines()

# Close the file
f.close()

print(content)
print(type(content))

In [ ]:
# A better way is with a within a context block
with open(file="../data/cities.txt", mode="r") as f:
    cities = f.readlines()

# Look at the content
print(cities)
print(type(cities))

In [ ]:
# Clean up the first city name
cities[0].strip().lower().capitalize()

In [ ]:
# Combine it with list expansion explained earlier to clean all the names in one go
cities_clean = [city.strip().lower().capitalize() for city in cities]

# See the result
print(cities_clean)

In [ ]:
# Export cleaned city names with a context block
with open(file="../data/cities_clean.txt", mode="w") as f:
    # Write each city on a new line
    for city in cities_clean:
        # Add a newline character to separate each city
        f.write(city + "\n")

# *ARGS and **KWARGS

In [ ]:
def add2(x1, x2):
    return x1 + x2

def add3(x1, x2, x3):
    return x1 + x2 + x3

# Note: You enter them in the function definition with the *,
# but you don't use them with the * in the function body
def add_many(*args):
    out = sum(args)
    return out

add_many(2, 3, 4, 5)

In [ ]:
# See the print function
print

In [ ]:
# It can get nested
obs_2 = {
    "species": "Amphiprion ocellaris",
    "abundance": 3,
    "coordinates": [-18.29, 147.70]
    }

print(obs_2)
print("\n")

# Access by key
print(obs_2["species"])
print(obs_2["abundance"])
print(obs_2["coordinates"])

In [ ]:
# Remember the two dicos
print(obs_1)
print(obs_2)

In [ ]:
def print_info(**kwargs):
    # Print info for all objects.
    print("Description of a biodiversity occurrence.")

    # Function will behave differently depending on
    # supplied **kwargs.
    if "species" in kwargs:
        print(f"Species observed: {kwargs["species"]}")
    if "abundance" in kwargs:
        print(f"Number of individuals: {kwargs["abundance"]}")
    if "coordinates" in kwargs:
        print(f"Location: {kwargs["coordinates"]}")

In [ ]:
# Use it on obs_1
print_info(**obs_1)

In [ ]:
# Use it on obs_1
print_info(**obs_2)

# List unpacking

In [ ]:
# A list is made up of ordered elements (by their index that is)
out = [10, 20, 30, 40]

# A bad way to extract values
a = out[0]
b = out[1]
c = out[2]
d = out[3]

# See their values
print("Value of a:", a)
print("Value of b:", b)
print("Value of c:", c)
print("Value of d:", d)

In [ ]:
# A list
out = [10, 20, 30, 40]

# Extract the values of a list in one go
a, b, c, d = out

# See their values
print("Value of a:", a)
print("Value of b:", b)
print("Value of c:", c)
print("Value of d:", d)

# The _ object

The `_` object has a meaning in Python

In [ ]:
# An operation that is returned to STDOUT
3 + 3.5

In [ ]:
# See the value of _
_

In [ ]:
# A list
out = [10, 20, 30, 40]

# I want a and b, but do not care about c and d
# I don't want to waste effort in naming them or
# allotting memory for them
a, b, _, _ = out

# See their values
print("Value of a:", a)
print("Value of b:", b)

# Memory and whatnot

In [ ]:
for i in range(0, 19):
    print("The number", i, "in hexadecimal is", hex(i))

In [ ]:
val = 3.8
#
print(id(val))
print(hex(id(val)))
#
print("\n")
#
print(type(id(val)))
print(type(hex(id(val))))

In [ ]:
list_1 = [1.8]
list_2 = list_1
list_3 = list_1.copy()
#
print("Contents of list_1:", list_1)
print("Contents of list_2:", list_2)
print("Contents of list_3:", list_3)
#
print("\n")
#
print("Unique identifier for list_1:", id(list_1))
print("Unique identifier for list_2:", id(list_2))
print("Unique identifier for list_3:", id(list_3))

In [ ]:
# Innucuously change the value of the only element in list_2
list_2[0] = 3

# Look at the values again
#
print("Contents of list_1:", list_1)
print("Contents of list_2:", list_2)
print("Contents of list_3:", list_3)

# Iterators and enumerate

In [ ]:
values = [10, 20, 30, 40]
print(values)

In [ ]:
for x in values:
    print(x * 2)

In [ ]:
for idx in range(0, len(values)):
    print(f"Value number {idx} times two is {2 * values[idx]}")

In [ ]:
# Consider enumerate
print(enumerate(values))
print(type(enumerate(values)))

In [ ]:
for idx, val in enumerate(values):
    print(f"Value number {idx} times two is {2 * val}")

# Packages

In [ ]:
# Importing a package is as simple as:
import math

In [ ]:
# You can now use the methods of the math package
math.sqrt(4)

In [ ]:
# Print information about the package
print(math)
print(type(math))

In [ ]:
# Packages can be aliased
import math as mt

In [ ]:
# Now the package "mt" is calleable as a separate object
mt.sqrt(4)

In [ ]:
# You can also import individual functions as:
from math import log, sin, cos, pi

In [ ]:
# By doing so, these are accessible from the current namespace
# This means you can call them directly
print("The logarithm of 1:", log(1))
print("Cosine of pi:", cos(pi))

In [ ]:
# Just so you know, you can also use:
from math import *

# This imports EVERY function from math into the current namespace
# Not the best, but at least you know

In [ ]:
# Import the json module
import json

In [ ]:
# Load the pteropus.json file
with open(file="../data/pteropus.json", mode="r") as f:
    ptero = json.load(fp=f)

In [ ]:
# Print it!
print(ptero)
print(type(ptero))